ul.link-list li{
    float: left;
    clear: both;
    list-style-type: none;
    margin-top: 30px;
}
li span.time,
li > div{
    float: left;
}
li span.time {
    line-height: 165px;
    width: 165px;
}
li > div.link{
    height: 205px;
    width: 135px;
    margin: 0 40px;
    border: 1px solid #eee;
    overflow: hidden;
}
li > div.link img{
    display: block;
    max-height: 138px;
}
.gap{
    visibility: hidden;
}
.chat{
    padding-top: 60px;
}

ul.link-list li p{
    margin-bottom: 0px;
    font-size: 13px;
    padding-left: 2em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}