nav.navbar{
    border-radius: 0px;
}
a.logout-btn{
    float: right;
}
.navbar-default .navbar-nav > li > a{
	position: relative;
}
.navbar-default .navbar-nav > li > a span.unread,
.chat a.btn-wide span.unread{
	position: absolute;
	top: 11px;
	background: red;
	font-size: 12px;
	font-weight: normal;
	width: 17px;
	height: 17px;
	line-height: 17px;
	text-align: center;
	overflow: hidden;
	border-radius: 10px;
	color: #fff;
	-webkit-transform: scale(0.6);
}
.chat a.btn-wide{
	position: relative;
}
.chat a.btn-wide span.unread{
	top: -10px;
	right: -10px;
}
body > .container{
	min-height: 600px;
}

#footer {
padding-top: 50px;
padding-bottom: 70px;
font-family:微软雅黑,宋体,Tahoma,Verdana,Arial,Helvetica,sans-serif;
}

#footer, #footer a {
color: #999;
font-size: 12px;
text-align: center;
}

.maxwidth, #footer {
width: 990px;
margin: 0 auto;
}
.copyright{
	font-size:12px;
}


