<?xml version='1.0' encoding='utf-8'?>

<!DOCTYPE hibernate-configuration PUBLIC

  "-//Hibernate/Hibernate Configuration DTD 3.0//EN"

  "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">


<hibernate-configuration>
	<session-factory>
		<!-- JDBC connection settings -->
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost/ylpzhaoxi</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">mysql</property>
		<!-- JDBC connection pool, use Hibernate internal connection pool -->
		<property name="hibernate.connection.pool_size">5</property>
		<!-- Defines the SQL dialect used in Hiberante's application -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<!-- tell hibernate to use C3P0 -->
		<property name="connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
		<!-- If this is a number greater than 0, C3P0 will test all idle, pooled 
			but unchecked-out connections, every this number of seconds // Set this to 
			something below your MySQL wait_timeout -->
		<property name="c3p0.idle_test_period">14400</property>
		<!-- a query used to test connections -->
		<property name="c3p0.preferredTestQuery">select 1;</property>
		<!-- See more at: http://www.jvmhost.com/articles/hibernate-famous-communications-link-failure-last-packet-sent-successfuly-issue-solved-c3p0#sthash.hTCnJQvZ.dpuf -->
		<!-- Enable Hibernate's automatic session context management -->
		<property name="hibernate.current_session_context_class">thread</property>
		<!-- 开启二级缓存 -->
		<property name="hibernate.cache.use_second_level_cache">true</property>
		<!-- 二级缓存的提供类 -->
		<property name="hibernate.cache.provider_class">net.sf.ehcache.hibernate.EhCacheProvider</property>
		<!-- 二级缓存配置文件的位置 -->
		<property name="hibernate.cache.provider_configuration_file_resource_path">ehcache.xml</property>
		<!-- Display and format all executed SQL to stdout -->
		<property name="hibernate.show_sql">false</property>
		<property name="hibernate.format_sql">true</property>
		<!-- Drop and re-create the database schema on startup -->
		<property name="hibernate.hbm2ddl.auto">update</property>
		<!-- 注解类声明 -->
		<mapping class="com.ylp.date.mgr.user.impl.User" />
		<mapping class="com.ylp.date.mgr.tag.impl.UserTag" />
		<mapping class="com.ylp.date.mgr.tag.impl.UserTagSug" />
		<mapping class="com.ylp.date.mgr.relation.impl.RelationBuilder" />
		<mapping class="com.ylp.date.mgr.relation.impl.UserRelation" />
	</session-factory>
</hibernate-configuration>
